<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ partial "html-meta.html" . -}}
<title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
<link rel="stylesheet" type="text/css" href="{{ .Site.Params.csslocation | relURL }}">
{{ with .Site.Params.favicon -}}
<link rel="icon" href="{{ . }}" type="image/x-icon">
{{ end -}}
</head>
<body>
<header>
  {{ with .Site.Menus.parent -}}
  <nav>
    {{ range . -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end -}}
  </nav>
  {{ end -}}
  <div class="blog-header">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <div><a href="{{ .Site.BaseURL }}"><img src="{{.Site.Params.bloglogo}}" class="bloglogo"></img></a></div>
    {{- if .Site.Params.subtitle }}<h4>{{ .Site.Params.subtitle }}</h4>{{- end }}
  </div>
  <nav>
    {{- range .Site.Menus.main -}}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{- end -}}
  </nav>
</header>
<main>
  <article>
    {{ block "main" . }}{{- end }}
  </article>
</main>
<footer>
  <div>
    <nav class="footer-menu">
      {{- range .Site.Menus.footer -}}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{- end -}}
    </nav>
    <div>
      {{- if .Site.Copyright -}}
        {{ .Site.Copyright | markdownify}} <a href="{{.Site.Params.licensepage}}">{{.Site.Params.licensetext}}</a>
      {{- end -}}
    </div>
  </div>
</footer>
{{ template "_internal/google_analytics_async.html" . -}}
</body>
</html>
